<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053877861292-8c6tudlu22c2o7man5qp0mg1bsf3n50m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053877861292-8c6tudlu22c2o7man5qp0mg1bsf3n50m</string>
	<key>API_KEY</key>
	<string>AIzaSyCPbGDspYD4JV1pp4jgDfKv748_bIGyBnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1053877861292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.markbergeson.SocialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-37fb9</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-37fb9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053877861292:ios:3be17750a669f5590c1809</string>
</dict>
</plist>